:root {
  --color-primary: #fff;
  --color-secondary: #b1b1b1; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

body {
  height: 100vh;
  width: 100%; }

.header {
  background-image: url(../img/eric.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column; }
  .header__top {
    margin-top: 2rem;
    display: flex;
    align-items: center; }
  .header__logo {
    width: 8rem;
    height: 8rem;
    margin-left: 6rem;
    margin-right: 30rem; }
    @media only screen and (max-width: 87.5em) {
      .header__logo {
        margin-right: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__logo {
        width: 4rem;
        height: 4rem; } }
    @media only screen and (max-width: 43.75em) {
      .header__logo {
        margin-right: 5rem; } }
    @media only screen and (max-width: 25rem) {
      .header__logo {
        margin-left: 3rem; } }
  .header__list {
    display: flex; }
  .header__text {
    transition: all 0.5s;
    list-style: none; }
    .header__text:hover {
      transform: scale(1.1); }
  .header__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-right: 5rem;
    font-size: 150%;
    transition: all 0.5s; }
    @media only screen and (max-width: 56.25em) {
      .header__link {
        font-size: 100%;
        margin-right: 2rem; } }
    .header__link:hover {
      border-bottom: 2px solid var(--color-primary); }
  .header__h1 {
    font-size: 300%;
    line-height: 6rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 30rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 87.5em) {
      .header__h1 {
        margin-right: 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__h1 {
        font-size: 150%;
        line-height: 3rem; } }
    @media only screen and (max-width: 43.75em) {
      .header__h1 {
        margin-top: 3rem;
        margin-right: 5rem; } }
    @media only screen and (max-width: 25rem) {
      .header__h1 {
        margin-top: 10rem; } }
  .header__radiotext {
    color: var(--color-primary); }
    .header__radiotext--span {
      color: #000; }

.player {
  background-image: linear-gradient(rgba(170, 55, 55, 0.8), rgba(90, 28, 28, 0.8)), url(../img/kv-2.jpg);
  padding: 5rem;
  height: 35rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .player__h2 {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 100; }
    @media only screen and (max-width: 25rem) {
      .player__h2 {
        font-size: 150%; } }
  .player__h3 {
    color: var(--color-secondary);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 400%; }
    @media only screen and (max-width: 25rem) {
      .player__h3 {
        font-size: 200%; } }
  .player__h4 {
    color: var(--color-primary);
    margin-bottom: 2rem;
    font-weight: 400; }
  .player__audio {
    height: 3rem;
    outline: none; }
    @media only screen and (max-width: 25rem) {
      .player__audio {
        width: 25rem; } }

.marketing__pictures {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 5rem; }
  @media only screen and (max-width: 43.75em) {
    .marketing__pictures {
      flex-wrap: wrap;
      margin: 1rem auto; } }
  .marketing__pictures img {
    width: 20rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: all 0.5s; }
    @media only screen and (max-width: 75em) {
      .marketing__pictures img {
        width: 15rem; } }
    @media only screen and (max-width: 87.5em) {
      .marketing__pictures img {
        width: 18rem; } }
    @media only screen and (max-width: 68.75em) {
      .marketing__pictures img {
        width: 10rem; } }
    .marketing__pictures img:hover {
      transform: scale(1.2); }

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/wes-hicks-MEL-jJnm7RQ-unsplash.jpg);
  background-position: center;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__h3 {
    color: var(--color-secondary);
    font-size: 200%;
    text-transform: uppercase;
    margin: 3rem auto; }
  .footer__info {
    display: flex;
    justify-content: space-between;
    width: 80rem;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 25rem) {
      .footer__info {
        justify-content: space-around; } }
    @media only screen and (max-width: 56.25em) {
      .footer__info {
        width: 60rem; } }
    @media only screen and (max-width: 43.75em) {
      .footer__info {
        width: 40rem; } }
  .footer__kontakt {
    line-height: 1.5; }
  .footer__h4 {
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: 0.5rem; }
  .footer__socialnet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5; }
  .footer__icon {
    margin-right: 1rem; }
  .footer__link {
    color: var(--color-secondary);
    text-decoration: none; }
  .footer__text {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 25rem) {
      .footer__text {
        font-size: 80%;
        margin: 1.5rem auto; } }

.popup,
.popup1,
.popup2 {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target,
  .popup1:target,
  .popup2:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content,
  .popup1:target .popup__content,
  .popup2:target .popup__content, .popup:target
  .popup1__content,
  .popup1:target
  .popup1__content,
  .popup2:target
  .popup1__content, .popup:target
  .popup2__content,
  .popup1:target
  .popup2__content,
  .popup2:target
  .popup2__content {
    opacity: 1;
    transform: scale(1); }
  .popup__close,
  .popup1__close,
  .popup2__close {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 400%;
    padding: 1.5rem;
    margin-right: 1rem;
    transition: all 0.5s; }
    .popup__close--white,
    .popup1__close--white,
    .popup2__close--white {
      text-decoration: none;
      color: var(--color-secondary);
      font-size: 400%;
      padding: 1.5rem;
      margin-right: 1rem;
      transition: all 0.5s;
      color: #fff; }
      .popup__close--white:hover,
      .popup1__close--white:hover,
      .popup2__close--white:hover {
        color: var(--color-secondary); }
    .popup__close:hover,
    .popup1__close:hover,
    .popup2__close:hover {
      color: #535353; }
  .popup__content,
  .popup1__content,
  .popup2__content {
    width: 75%;
    height: 70rem;
    background-color: var(--color-primary);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: scale(0.5);
    display: flex;
    transition: all 0.8s;
    border-radius: 20px;
    overflow: hidden; }
    @media only screen and (max-width: 56.25em) {
      .popup__content,
      .popup1__content,
      .popup2__content {
        width: 100%;
        height: 100vh; } }
  .popup__left,
  .popup1__left,
  .popup2__left {
    width: 30%;
    overflow: hidden; }
    @media only screen and (max-width: 68.75em) {
      .popup__left,
      .popup1__left,
      .popup2__left {
        display: none; } }
    .popup__left--kontakt,
    .popup1__left--kontakt,
    .popup2__left--kontakt {
      width: 30%;
      background-color: var(--color-secondary); }
      @media only screen and (max-width: 68.75em) {
        .popup__left--kontakt,
        .popup1__left--kontakt,
        .popup2__left--kontakt {
          display: none; } }
  .popup__photo,
  .popup1__photo,
  .popup2__photo {
    height: 100%; }
  .popup__right,
  .popup1__right,
  .popup2__right {
    width: 70%;
    background-size: cover;
    background-position: center; }
    @media only screen and (max-width: 68.75em) {
      .popup__right,
      .popup1__right,
      .popup2__right {
        width: 100%; } }
    .popup__right--kontakt,
    .popup1__right--kontakt,
    .popup2__right--kontakt {
      width: 70%;
      background-size: cover;
      background-position: center;
      background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/kolakas.jpg); }
      @media only screen and (max-width: 68.75em) {
        .popup__right--kontakt,
        .popup1__right--kontakt,
        .popup2__right--kontakt {
          width: 100%; } }
  .popup__x,
  .popup1__x,
  .popup2__x {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem; }
  .popup__y,
  .popup1__y,
  .popup2__y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .popup__h2,
  .popup1__h2,
  .popup2__h2 {
    font-size: 300%;
    color: var(--color-secondary);
    margin-bottom: 5rem; }
    @media only screen and (max-width: 25rem) {
      .popup__h2,
      .popup1__h2,
      .popup2__h2 {
        font-size: 150%;
        margin-bottom: 2rem; } }
  .popup__text,
  .popup1__text,
  .popup2__text {
    margin: 1rem 15rem;
    font-size: 150%;
    text-align: center; }
    @media only screen and (max-width: 43.75em) {
      .popup__text,
      .popup1__text,
      .popup2__text {
        margin: 1rem 2rem; } }
    @media only screen and (max-width: 25rem) {
      .popup__text,
      .popup1__text,
      .popup2__text {
        font-size: 100%; } }

.popup1__h22 {
  font-size: 250%;
  color: var(--color-secondary);
  margin-bottom: 2rem; }

.popup1__cenovnik {
  width: 60rem;
  height: 40rem; }
  @media only screen and (max-width: 56.25em) {
    .popup1__cenovnik {
      width: 40rem;
      height: 30rem; } }
  @media only screen and (max-width: 43.75em) {
    .popup1__cenovnik {
      width: 30rem;
      height: 30rem; } }

.popup2__h222 {
  font-size: 200%;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #fff; }

.popup2__form {
  max-width: 100rem;
  height: 30vh; }

.form {
  display: flex;
  flex-direction: column;
  width: 60rem;
  align-items: center; }
  .form__group {
    display: flex;
    flex-direction: column;
    margin: 0rem auto; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem;
    width: 50rem; }
    @media only screen and (max-width: 56.25em) {
      .form__group:not(:last-child) {
        margin-bottom: 1rem;
        width: 30rem; } }
    @media only screen and (max-width: 43.75em) {
      .form__group:not(:last-child) {
        margin-bottom: 1rem;
        width: 20rem; } }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff; }
    .form__input::placeholder {
      color: #fff; }
    .form__input:focus {
      outline: none;
      border-bottom: 1px solid #15db67; }
    .form__input:focus:invalid {
      border-bottom: 1px solid #f34729; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #fff; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__text {
    margin: 0rem auto;
    margin-bottom: 5rem; }
  .form__textarea {
    border: none;
    outline: none;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff; }
    @media only screen and (max-width: 56.25em) {
      .form__textarea {
        margin-bottom: 1rem;
        width: 30rem; } }
    @media only screen and (max-width: 43.75em) {
      .form__textarea {
        margin-bottom: 1rem;
        width: 20rem; } }
    .form__textarea::placeholder {
      color: #fff; }
  .form__textarea:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right, rgba(170, 55, 55, 0.8), rgba(90, 28, 28, 0.8));
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer; }

.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s; }

.btn__visible {
  padding: 2rem 7.5rem; }

.btn__invisible {
  position: absolute;
  padding: 2rem 0rem;
  left: 0;
  top: -100%; }

.btn:hover {
  background-image: linear-gradient(to left, rgba(170, 55, 55, 0.8), rgba(90, 28, 28, 0.8));
  animation: pulsiranje 1s infinite; }

.btn:hover .btn__visible {
  transform: translateY(100%); }

.btn:hover .btn__invisible {
  top: 0; }

.btn:focus {
  outline: none;
  animation: pulsiranje 1s infinite; }

@keyframes pulsiranje {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }
