:root {
  --color-primary: #fff;
  --color-secondary: #b1b1b1;
}

$bp-max: 87.5em; //1400px
$bp-largest: 75em; //1200px
$bp-medium: 68.75em; //1100px
$bp-small: 56.25em; //900px
$bp-little: 43.75em; //700px
$bp-phone: 25rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}
