.header {
  background-image: url(../img/eric.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: flex;
  flex-direction: column;

  &__top {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 8rem;
    height: 8rem;
    margin-left: 6rem;
    margin-right: 30rem;

    @media only screen and (max-width: $bp-max) {
      margin-right: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 4rem;
      height: 4rem;
    }
    @media only screen and (max-width: $bp-little) {
      margin-right: 5rem;
    }
    @media only screen and (max-width: $bp-phone) {
      margin-left: 3rem;
    }
  }
  &__list {
    display: flex;
  }

  &__text {
    transition: all 0.5s;
    list-style: none;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-right: 5rem;
    font-size: 150%;
    transition: all 0.5s;
    @media only screen and (max-width: $bp-small) {
      font-size: 100%;
      margin-right: 2rem;
    }

    &:hover {
      border-bottom: 2px solid var(--color-primary);
    }
  }

  &__h1 {
    font-size: 300%;
    line-height: 6rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 30rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-max) {
      margin-right: 10rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 150%;
      line-height: 3rem;
    }
    @media only screen and (max-width: $bp-little) {
      margin-top: 3rem;
      margin-right: 5rem;
    }
    @media only screen and (max-width: $bp-phone) {
      margin-top: 10rem;
    }
  }

  &__radiotext {
    color: var(--color-primary);
    &--span {
      color: #000;
    }
  }
}

.player {
  background-image: linear-gradient(
      rgba(170, 55, 55, 0.8),
      rgba(90, 28, 28, 0.8)
    ),
    url(../img/kv-2.jpg);
  padding: 5rem;
  height: 35rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__h2 {
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 100;

    @media only screen and (max-width: $bp-phone) {
      font-size: 150%;
    }
  }

  &__h3 {
    color: var(--color-secondary);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 400%;
    @media only screen and (max-width: $bp-phone) {
      font-size: 200%;
    }
  }

  &__h4 {
    color: var(--color-primary);
    margin-bottom: 2rem;
    font-weight: 400;
  }
  &__audio {
    height: 3rem;
    outline: none;
    @media only screen and (max-width: $bp-phone) {
      width: 25rem;
    }
  }
}

.marketing {
  &__pictures {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 5rem;

    @media only screen and (max-width: $bp-little) {
      flex-wrap: wrap;
      margin: 1rem auto;
    }

    & img {
      width: 20rem;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
      transition: all 0.5s;

      @media only screen and (max-width: $bp-largest) {
        width: 15rem;
      }
      @media only screen and (max-width: $bp-max) {
        width: 18rem;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 10rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/wes-hicks-MEL-jJnm7RQ-unsplash.jpg);
  background-position: center;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__h3 {
    color: var(--color-secondary);
    font-size: 200%;
    text-transform: uppercase;

    margin: 3rem auto;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    width: 80rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-phone) {
      justify-content: space-around;
    }

    @media only screen and (max-width: $bp-small) {
      width: 60rem;
    }
    @media only screen and (max-width: $bp-little) {
      width: 40rem;
    }
  }
  &__kontakt {
    line-height: 1.5;
  }
  &__h4 {
    border-bottom: 1px solid var(--color-secondary);
    margin-bottom: 0.5rem;
  }
  &__socialnet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
  }

  &__icon {
    margin-right: 1rem;
  }
  &__link {
    color: var(--color-secondary);
    text-decoration: none;
  }
  &__text {
    margin-bottom: 2rem;
    @media only screen and (max-width: $bp-phone) {
      font-size: 80%;
      margin: 1.5rem auto;
    }
  }
}

//popup

.popup,
.popup1,
.popup2 {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: scale(1);
  }

  &__close {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 400%;
    padding: 1.5rem;
    margin-right: 1rem;
    transition: all 0.5s;

    &--white {
      text-decoration: none;
      color: var(--color-secondary);
      font-size: 400%;
      padding: 1.5rem;
      margin-right: 1rem;
      transition: all 0.5s;
      color: #fff;

      &:hover {
        color: var(--color-secondary);
      }
    }

    &:hover {
      color: rgb(83, 83, 83);
    }
  }

  &__content {
    width: 75%;
    height: 70rem;
    background-color: var(--color-primary);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: scale(0.5);
    display: flex;
    transition: all 0.8s;
    border-radius: 20px;
    overflow: hidden;
    @media only screen and (max-width: $bp-small) {
      width: 100%;
      height: 100vh;
    }
  }

  &__left {
    width: 30%;
    overflow: hidden;
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    &--kontakt {
      width: 30%;
      background-color: var(--color-secondary);
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }
  &__photo {
    height: 100%;
  }
  &__right {
    width: 70%;
    background-size: cover;
    background-position: center;
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }

    &--kontakt {
      width: 70%;
      background-size: cover;
      background-position: center;
      @media only screen and (max-width: $bp-medium) {
        width: 100%;
      }

      background-image: linear-gradient(
          to bottom right,
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.8)
        ),
        url(../img/kolakas.jpg);
    }
  }
  &__x {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
  }

  &__y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__h2 {
    font-size: 300%;
    color: var(--color-secondary);
    margin-bottom: 5rem;
    @media only screen and (max-width: $bp-phone) {
      font-size: 150%;
      margin-bottom: 2rem;
    }
  }
  &__text {
    margin: 1rem 15rem;
    font-size: 150%;
    text-align: center;
    @media only screen and (max-width: $bp-little) {
      margin: 1rem 2rem;
    }
    @media only screen and (max-width: $bp-phone) {
      font-size: 100%;
    }
  }
}
.popup1 {
  &__h22 {
    font-size: 250%;
    color: var(--color-secondary);
    margin-bottom: 2rem;
  }
  &__cenovnik {
    width: 60rem;
    height: 40rem;

    @media only screen and (max-width: $bp-small) {
      width: 40rem;
      height: 30rem;
    }
    @media only screen and (max-width: $bp-little) {
      width: 30rem;
      height: 30rem;
    }
  }
}

.popup2__h222 {
  font-size: 200%;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #fff;
}

.popup2__form {
  max-width: 100rem;
  height: 30vh;
}

//FORM

.form {
  display: flex;
  flex-direction: column;
  width: 60rem;
  align-items: center;

  &__group {
    display: flex;
    flex-direction: column;
    margin: 0rem auto;
  }
  &__group:not(:last-child) {
    margin-bottom: 2rem;
    width: 50rem;
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 1rem;
      width: 30rem;
    }
    @media only screen and (max-width: $bp-little) {
      margin-bottom: 1rem;
      width: 20rem;
    }
  }
  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid rgb(21, 219, 103);
    }
    &:focus:invalid {
      border-bottom: 1px solid rgb(243, 71, 41);
    }
  }
  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #fff;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  &__text {
    margin: 0rem auto;
    margin-bottom: 5rem;
  }

  &__textarea {
    border: none;
    outline: none;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    @media only screen and (max-width: $bp-small) {
      margin-bottom: 1rem;
      width: 30rem;
    }

    @media only screen and (max-width: $bp-little) {
      margin-bottom: 1rem;
      width: 20rem;
    }

    &::placeholder {
      color: #fff;
    }
  }

  &__textarea:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

//btn

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    rgba(170, 55, 55, 0.8),
    rgba(90, 28, 28, 0.8)
  );
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}
.btn__visible {
  padding: 2rem 7.5rem;
}
.btn__invisible {
  position: absolute;
  padding: 2rem 0rem;
  left: 0;
  top: -100%;
}
.btn:hover {
  background-image: linear-gradient(
    to left,
    rgba(170, 55, 55, 0.8),
    rgba(90, 28, 28, 0.8)
  );
  animation: pulsiranje 1s infinite;
}
.btn:hover .btn__visible {
  transform: translateY(100%);
}
.btn:hover .btn__invisible {
  top: 0;
}
.btn:focus {
  outline: none;
  animation: pulsiranje 1s infinite;
}

@keyframes pulsiranje {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
